@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-RegularIt.eot');
    src: url('../fonts/ProximaNova-Regular.eot@') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype')
}

.breadcrumbs_block {
    margin-top: 40px;
}

.breadcrumbs_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

.main_title {
    position: relative;
    margin-top: 57px;
}

.main_title_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
}

.main_block1, .main_block2 {
    position: relative;
    margin-top: 29px;
}

.main_block2_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
}

.main_block2_button {
    position: relative;
    margin-top: 113px;
}

.main_block2_button p{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
}

.main_block2_button img{
    position: relative;
    margin-left: 16px;
}

.main_map {
    margin-top: 71px;
    width: 100%;
}

#map {
    height: 786px;
}

.main_form {
    position: absolute;
    right: 10%;
    top: 493px;
    background: #FFFFFF;
    width: 555px;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A6A6A6;
}

.form_adres {
    margin: 60px 0 0 68px;
    width: 390px;
}

.form_email, .form_phone {
    margin: 14px 0 0 68px;
    width: 390px;
}

.form_info {
    margin: 56px 0 0 68px;
    width: 390px;
}

.form_wrapper input{
    border: 0;
    border-bottom: 1px solid #444444;
    width: 390px;
    margin: 22px 0 0 68px;
}

.form_text {
    resize: none;
    border-style: none;
    outline: none;
    border-bottom: 1px solid #444444;
    margin: 22px 0 0 68px;
    width: 390px;
}

.agree {
    margin: 15px 0 0 68px;
    width: 390px;
}

.form_button {
    width: 165px;
    height: 44px;
    background: #737F8A;
    border: 0;
    margin: 19px 0 0 68px;
}

.form_button span {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 480px) {
    .main_form {
        position: absolute;        
        top: 615px;
        background: #FFFFFF;
        width: 100%;
        right: 0;
    }
    .main_map {
        margin-top: 20px;
        width: 100%;
    }
    
    #map {
        height: 250px;
    }

    .form_adres {
        margin: 60px 0 0 10px;
        width: 300px;
    }
    
    .form_email, .form_phone {
        margin: 14px 0 0 10px;
        width: 300px;
    }
    
    .form_info {
        margin: 56px 0 0 10px;
        width: 300px;
    }
    
    .form_wrapper input{
        border: 0;
        border-bottom: 1px solid #444444;
        width: 300px;
        margin: 22px 0 0 10px;
    }
    
    .form_text {
        resize: none;
        border-style: none;
        outline: none;
        border-bottom: 1px solid #444444;
        margin: 22px 0 0 10px;
        width: 300px;
    }
    
    .agree {
        margin: 15px 0 0 10px;
        width: 300px;
    }
    
    .form_button {
        width: 165px;
        height: 44px;
        background: #737F8A;
        border: 0;
        margin: 19px 0 0 10px;
    }

    .footer {
        margin-top: 580px;
    }
}