@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-RegularIt.eot');
    src: url('../fonts/ProximaNova-Regular.eot@') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype')
}

a, a:visited, a:hover, a:focus, .grey {
    color: #A6A6A6;
}

.breadcrumbs_block {
    margin-top: 40px;
}

.breadcrumbs_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

.main_title {
    position: relative;
    margin-top: 57px;
}

.main_title_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
}

.main_block1, .main_block2 {
    position: relative;
    margin-top: 29px;
}

.main_block2_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
}

.main_block2_button {
    position: relative;
    margin-top: 113px;
}

.main_block2_button p{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
}

.main_block2_button img{
    position: relative;
    margin-left: 16px;
}

.main_map {
    margin-top: 71px;
    width: 100%;
}

#map {
    height: 786px;
}

.main_form {
    position: absolute;
    right: 10%;
    top: 493px;
    background: #FFFFFF;
    width: 555px;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A6A6A6;
}

.form_adres {
    margin: 60px 0 0 68px;
    width: 320px;
}

.form_email, .form_phone {
    margin: 14px 0 0 68px;
    width: 390px;
}

.form_info {
    margin: 56px 0 0 68px;
    width: 390px;
}

.form_wrapper input{
    border: 0;
    border-bottom: 1px solid #444444;
    width: 390px;
    margin: 22px 0 0 68px;
}

.form_text {
    resize: none;
    border-style: none;
    outline: none;
    border-bottom: 1px solid #444444;
    margin: 22px 0 0 68px;
    width: 390px;
}

.agree {
    margin: 15px 0 0 68px;
    width: 390px;
}

.form_button {
    width: 165px;
    height: 44px;
    background: #737F8A;
    border: 0;
    margin: 19px 0 52px 68px;
}

.form_button span {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 360px) {
    .main_form {
        position: absolute;        
        top: 615px;
        background: #FFFFFF;
        width: 100%;
        right: 0;
    }
    .main_map {
        margin-top: 20px;
        width: 100%;
    }
    
    #map {
        height: 250px;
    }

    .form_adres {
        margin: 60px 0 0 10px;
        width: 300px;
    }
    
    .form_email, .form_phone {
        margin: 14px 0 0 10px;
        width: 300px;
    }
    
    .form_info {
        margin: 56px 0 0 10px;
        width: 300px;
    }
    
    .form_wrapper input{
        border: 0;
        border-bottom: 1px solid #444444;
        width: 300px;
        margin: 22px 0 0 10px;
    }
    
    .form_text {
        resize: none;
        border-style: none;
        outline: none;
        border-radius: 0;
        border-bottom: 1px solid #444444;
        margin: 22px 0 0 10px;
        width: 300px;
    }
    
    .agree {
        margin: 15px 0 0 10px;
        width: 300px;
    }
    
    .form_button {
        width: 165px;
        height: 44px;
        background: #737F8A;
        border: 0;
        margin: 19px 0 0 10px;
    }

    .footer {
        margin-top: 580px;
    }
}

@media (min-width: 361px) and (max-width: 400px) {
    .main_form {
        position: absolute;        
        top: 615px;
        background: #FFFFFF;
        width: 100%;
        right: 0;
    }
    .main_map {
        margin-top: 20px;
        width: 100%;
    }
    
    #map {
        height: 250px;
    }

    .form_adres {
        margin: 60px 0 0 10px;
        width: 338px;
    }
    
    .form_email, .form_phone {
        margin: 14px 0 0 10px;
        width: 355px;
    }
    
    .form_info {
        margin: 56px 0 0 10px;
        width: 355px;
    }
    
    .form_wrapper input{
        border: 0;
        border-bottom: 1px solid #444444;
        width: 355px;
        margin: 22px 0 0 10px;
    }
    
    .form_text {
        resize: none;
        border-style: none;
        outline: none;
        border-radius: 0;
        border-bottom: 1px solid #444444;
        margin: 22px 0 0 10px;
        width: 355px;
    }
    
    .agree {
        margin: 15px 0 0 10px;
        width: 355px;
    }
    
    .form_button {
        width: 165px;
        height: 44px;
        background: #737F8A;
        border: 0;
        margin: 19px 0 0 10px;
    }

    .footer {
        margin-top: 580px;
    }
}

@media (min-width: 401px) and (max-width: 480px) {
    .main_form {
        position: absolute;        
        top: 615px;
        background: #FFFFFF;
        width: 100%;
        right: 0;
    }
    .main_map {
        margin-top: 20px;
        width: 100%;
    }
    
    #map {
        height: 250px;
    }

    .form_adres {
        margin: 60px 0 0 15px;
        width: 338px;
    }
    
    .form_email, .form_phone {
        margin: 14px 0 0 15px;
        width: 380px;
    }
    
    .form_info {
        margin: 56px 0 0 15px;
        width: 380px;
    }
    
    .form_wrapper input{
        border: 0;
        border-bottom: 1px solid #444444;
        width: 380px;
        margin: 22px 0 0 15px;
    }
    
    .form_text {
        resize: none;
        border-style: none;
        outline: none;
        border-radius: 0;
        border-bottom: 1px solid #444444;
        margin: 22px 0 0 15px;
        width: 380px;
    }
    
    .agree {
        margin: 15px 0 0 15px;
        width: 380px;
    }
    
    .form_button {
        width: 165px;
        height: 44px;
        background: #737F8A;
        border: 0;
        margin: 19px 0 0 15px;
    }

    .footer {
        margin-top: 580px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main_form {
    position: absolute;
    right: 10%;
    top: 615px;
    background: #FFFFFF;
    width: 555px;
    }
}

.product_img {
    margin-top: 91px;
}

.search_icon_img {
    margin-left: 514px;
    margin-top: -50px;
}

.search_icon_img:hover {
    cursor: pointer;
}

.head_title_wrapper {
    display: flex;
    justify-content: center;
}

.head_title_block {
    margin-top: 91px;
}

.head_title_block h1 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #444444;
}

.head_title_block p {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}

.sale_block {
    display: flex;
    flex-direction: row;
    margin-top: 31px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 109.8%;
}

.old-price {
    margin-left: 26px;
    text-decoration: line-through;
}

.size {
    margin-top: 17px;
}

.size p {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.size span {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #444444;
}

.color_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}

.color_wrapper span {
    margin-right: 15px;
}

.color {
    width: 28px;
    height: 28px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1:hover, .color2:hover, .color3:hover, .color4:hover, .color5:hover {
    border: 1px solid #FD8D13;
}

.color1in {
    background-color: #2C1313;
    width: 20px;
    height: 20px;
}

.color2in {
    background-color: #C4C4C4;
    width: 20px;
    height: 20px;
}

.color3in {
    background-color: #FFD1A0;
    width: 20px;
    height: 20px;
}

.color4in {
    background-color: #D8DBEC;
    width: 20px;
    height: 20px;
}

.color5in {
    background-color: #BABCC5;
    width: 20px;
    height: 20px;
}

.color:hover {
    cursor: pointer;
}

.color_name {
    margin: -15px 0 0 220px ;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
}

.button_wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 44px;
}

.btn_showroom {
    width: 67px;
    height: 28px;
    background: #737F8A;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: 0;
}

.btn_sklad {
    width: 79px;
    height: 28px;
    background: #737F8A;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: 0;
    margin-left: 7px;
}

.sklad_text {
    margin-left: 32px;
}

.sklad_text span {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 109.8%;
    color: #444444;    
}

.button_wrapper2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.block_counter {
    width: 165px;
    height: 44px;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.block_counter span {
    font-weight: 700;
}

.block_counter span:hover {
    cursor: pointer;
}

.btn_cart {
    width: 165px;
    height: 44px;
    background: #FD8D13;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: 0;
    margin-left: 14px;
}

.btn_credit {
    width: 165px;
    height: 44px;
    border: 1px solid #737F8A;
    box-sizing: border-box;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
    margin-left: 15px;  
    background: #fff;  
}

.option_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid #A6A6A6;
    margin-top: 55px;
    width: 555px;
}

.option_item  {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 109.8%;
    text-align: center;
    color: #444444;
    margin-right: 35px;
}

.option_item:hover {
    border-bottom: 2px solid #444444;
    cursor: pointer;
}

.info {
    width: 553px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 109.8%;
    color: #444444;
    margin-top: 20px;
}

.info span {
    font-weight: 700;
}

.mini_gallery_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 38px;    
}

.mini_gallary_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 129px;
    background: #FFFFFF;    
    box-sizing: border-box;    
    margin-right: 28px;
}

.mini_gallary_item:hover {
    border-radius: 4px;
    border: 1px solid #737F8A;
}

.similar_products {
    margin-top: 58px;
}

.similar_products_text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}

.similar_products_item_wrapper {
    display: flex;
    flex-direction: column;    
}

.similar_products_item_wrapper_img {
    max-width: 128px;
    margin-left: 62px;
}

.similar_products_item_footer {
    height: 118px;
    background: #F5F5F5;
    margin-top: 25px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 109.8%;
    color: #444444;
}

.item_footer1 {
    margin: 15px 0 0 13px;
}

.item_footer2 {
    margin: 4px 0 0 13px;
    font-weight: 300;
}

.item_footer3 {
    margin: 10px 0 0 13px;
}

.item_footer4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 10px 0 0 13px;
}

.item_footer4 img{
    margin-left: 8px;
}

.btn_cart_img {
    position: relative;
    width: 37px;
    height: 38px;
    background: #444444;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px 16px 0 209px;
}